@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea {
    user-select: text !important;
    -webkit-user-select: text !important;
}

@keyframes progress-indeterminate {
  0% { transform: translateX(-100%); }
  50% { transform: translateX(300%); }
  100% { transform: translateX(-100%); }
}

.animate-progress-indeterminate {
  animation: progress-indeterminate 2s infinite ease-in-out;
}